* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
    background: #fa1c1c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.logo-inter {
    position: relative;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: patrick hand, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 7px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-inter::before {
    content: 'S';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    z-index: 1;
}

.logo-inter::after {
    content: 'I';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 100;
    z-index: 2;
}

.search-bar {
    flex-grow: 0.75;
    margin: 0 20px;
    position: relative;
}

.search-bar input {
    width: 10%;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #7f0011;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-bar button:hover {
    background: #a30015;
}

.search-bar input {
    width: 90%;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* Header Icons */
.header-icons {
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
}

.icon-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.icon-item {
    position: relative;
    margin-right: 20px;
}

.icon-item i {
    font-size: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.748);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px;
    white-space: nowrap;
    font-size: 12px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}

.icon-item:hover .dropdown-menu {
    display: block;
}

/*******************************************************************/

/* Navegação */
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #7f0011;
}

.nav-menu .menu-item {
    position: relative;
}

.nav-menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.nav-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #a30015;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    z-index: 1000;
}

.nav-menu .submenu li {
    border-bottom: 1px solid #7f0011;
}

.nav-menu .submenu a {
    padding: 10px 15px;
    color: white;
}

.nav-menu .submenu a:hover {
    background-color: #7f0011;
}

.nav-menu .menu-item:hover .submenu {
    display: block;
}

/*******************************************************************/

/* Destaques */
.destaques {
    background: #fa1c1c;
    color: white;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 12px;
    text-align: center;
}

.destaque-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destaque-imagem {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/*******************************************************************/

/* Categorias */
.categorias {
    text-align: center;
    margin: 0px 0;
}

.categorias h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 30px;
    padding: 20px 20px;
    
}

.categoria-item {
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.categoria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    flex-grow: 1; 
}

.categoria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.categoria-item:hover img {
    transform: scale(1.0);
    transition: transform 0.3s ease;
}
/*******************************************************************/

/* Conteúdo Principal */
.main-content {
    padding: 30px;
}

/*******************************************************************/

/* Produtos */
.titulo-produtos {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
}

.produto-card {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.produto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto-imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto-nome {
    color: rgba(0, 0, 0, 0.745);
    font-size: 18px;
    text-align: center;
}

.produto-preco {
    color: #7f0011;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.produto-parcelado {
    color: rgba(0, 0, 0, 0.745);
    font-size: 14px;
    margin-bottom: 10px;
}
/*******************************************************************/

/* Rating do produto */
.rating-container {
    position: relative;
    width: 100%;
    margin: 8px 0;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars-empty,
.stars-filled {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.stars-empty {
    color: #e0e0e0;
    z-index: 1;
}

.stars-filled {
    color: #d8d80b;
    overflow: hidden;
    z-index: 2;
    width: var(--rating-width);
}

.rating-count {
    position: relative;
    z-index: 3;
    font-size: 0.8em;
    color: #666;
    margin-left: 100px; 
    vertical-align: middle;
}
/*******************************************************************/

/* Slider */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0px 0px;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex: 0 0 100%;
}

.slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-controls label {
    width: 12px;
    height: 12px;
    background: #ccc;
    margin: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slider { transform: translateX(0); }
#slide2:checked ~ .slider { transform: translateX(-100%); }
#slide3:checked ~ .slider { transform: translateX(0); }
#slide4:checked ~ .slider { transform: translateX(-100%); }
#slide5:checked ~ .slider { transform: translateX(0); }
#slide6:checked ~ .slider { transform: translateX(-100%); }

.slider-controls label:hover, input[type="radio"]:checked + label {
    background: #7f0011;
}
/*******************************************************************/

/* Footer */
.footer {
    background: #fa1c1c;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
}

.footer-section li {
    margin: 8px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}
.social-icon {
    font-size: 24px;
    color: #6e000f;
    text-decoration: none;
}
.social-icon:hover {
    color: #080808; /* Cor ao passar o mouse */
}

/*******************************************************************/